<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Instagram Clone - WEB</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body>

		<div class="container home">
			<div class="row">
				<div class="col-md-2"></div>
				
				<div class="col-md-4">
					<img src="images/celulares.jpg" class="img-responsive img-center"/>
				</div>
                
         <div class="col-md-4 painel-login">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">

									<img src="images/logo1.jpg" class="img-responsive img-center" />
									<br />

									<% if(validacao.length > 0){ %>
										<div class="alert alert-danger">
											<strong>Atenção <i class="glyphicon glyphicon-warning-sign"></i></strong>
											<ul>
												<% for(var i = 0; i < validacao.length; i++){ %>
													<li><%= validacao[i].msg %></li>
												<% } %>
											</ul>
										</div>
									<% } %>

									<form action="/autenticar" method="post">
										<div class="form-group">
											<input type="text" name="usuario" id="usuario" class="form-control" placeholder="Nome de usuário">
										</div>

										<div class="form-group">
											<input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
										</div>

										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-login">Entrar</button>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
														<button type="button" class="btn btn-default btn-cadastro">Cadastro</button>
												</div>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
		
	</body>
</html>